<header>
    <a href="/"><img src="/Imagenes/PLV_nuevo.png" alt="Logo" width="70px"></a>
    <div class="menu_mobile_bt">
            <div class="mbt_line"></div>
            <div class="mbt_line"></div>
            <div class="mbt_line"></div>
    </div>
    <div class="menu_over">
        <div class="menu_desplegable">
            <div class="title">
                <a href="/#prode">
                    Mi prode
                </a>
                <a href="/#tabla">
                    Tabla de posiciones
                </a>
                <a class="none" href="user/cuadros">
                    Cuadros
                </a>
                <% if (locals.isLogged && locals.userLogged.rol == "admin") { %>
                    <a class="" href="/prode">Administrar</a>
                <% } %>

                <a class="space" href="/user/reglas">
                    Reglas
                </a>
                <% if (locals.isLogged) { %>
                    <span></span>
                    <a href="#">Bienvenidos <%= locals.userLogged.username %> amigo del PLV </a>
                    <a href="/user/logout">logout</a>

                <% } else {%>
                    <a class="" href="/user/login">Login</a>
                        
                    <% } %>
                    
                <a class="none" href = "/user/register">Register</a>
            </div>
        </div>
    </div>
</header>