<head>
    <%- include('../partials/head') %>
    <title>Login</title>
    </head>
    
    
    <body>
        <main class = "register">
            <div class = "foto">
               
                <img src="/Imagenes/user/register.jpeg" alt="register">
               
            </div>
            <div class = "formulario">
                <a href="/">
                    <img src="/Imagenes/plv.png" alt="logo" width="150px">
                </a>
                <form action="/user/login" method="POST">

                    <label for="username">Nombre</label>
                    <input type="text" name="username">
                    <label class = "none" for="password">Contraseña</label>
                    <input class = "none" type="password" name="password">
                    <div class = botones>
                    <button type="submit">Ingresar</button>  
                </div>

                <a class = "none" href="/user/register">No tienes ususario? registrate aca</a>

                </form>

            </div>
        </main>
    </body>